@model ASPApp_Blog.ViewModels.PersonalPageViewModel
@{
    ViewBag.Title = "PersonalPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<body>
    <p></p>
    <div class="row">
        <div class="col-md-2">
            <img class="picture"
                 src="~/images/picture.jpg"
                 align="middle" width=140 height=140
                 alt="picture" />

            <h4> <b>Hello, @Model.Name</b> </h4>
            <i>Age: @Model.Age </i><br />
            <i>e-mail: @Model.Email </i><br />
            <i>@Model.CreationTime </i><br />
            <p></p>
           
        </div>
        <div class="col-md-10">
            <h4>Menu:</h4>
            <p></p>
            <p></p>
            <b><i>@Html.ActionLink("Edit personal data", "Edit", "Personal", new { id = Model.ID }, null)</i></b>
            <p></p>
            <p></p>
            <b><i>@Html.ActionLink("My messages", "MyMessageList", "Personal", new { id = Model.ID }, null)</i></b>
            <p></p>
            <p></p>
            <b><i>@Html.ActionLink("New message", "UsersList", "Message", new { id = Model.ID }, null)</i></b>
          
        </div>
    </div>
</body>
</html>


